/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
li, a, .btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #611973;
  text-decoration: none;
} 
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-bottom: 0;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 12%;
  margin: 0;
  padding: 0;
}
.nav-link{
  list-style: none;
}
.nav-link li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-link li a{
  padding: 10px ;
  transition: all 0.3s ease 0s;
  background-color: #f9f9f9;
  border-radius: 50px;
  cursor: pointer;
}
.nav-link li a:hover,
.btn:hover {
  background-color: #ffd445;
}
.btn {
  padding: 9px 25px;
  margin-left: 30px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: #ffd445 solid 1.5px;
}
.contener {
  margin: 0;
  padding: 0;
}
.main{
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  /* /* display: flex; 
  flex-direction: column;
  justify-content: space-between; */
  /* background-image: linear-gradient(#f9f9f9, #f47373); */
  /* width: 80%;
  height: 70%;
  position: absolute;
  top: 100%;
  left: 5%; */
  margin-right: 0;
  padding-right: 0;
}
.main-img {
  /* position: absolute; */
  padding: 0;
  /* padding-top: 70px; */
  /* margin-right: 3px; */
  width: 80%;
  float: left;
}
.cont{
  margin-left: 8%;
  margin-top: 15%;
  margin-right: 0;
  /* padding-top: 100px;
  width: 50%;
  float: left; */
  /* width: 50%;
  float: left;
  padding-left: 50px; */
}
.cont h1{
  font-size: 50px;

  /* padding-left: 30px; */
  /* color: white; */
  /* font-family: Quicksand; */
  /* font-size: 65px; */
  /* font-weight: bold; */
  /* font-size: 51px;
  position: relative;
  margin-top: 30px;
  font-weight: 700;
  line-height: 1; */
}
.cont p{
  /* padding-left: 30px; */
  /* color: white; */
  /* font-family: Quicksand; */
  /* font-size: 35px; */
  /* padding-right: 20px; */
  /* font-weight: bold; */
  font-size: 19px;
  margin: 30px 30px 30px 0;
  letter-spacing: 1px;
  padding-left: 250px;
}