
*{
  margin: 0;
  padding: 0;
  background-color: #FAF7F0;
}
li, a, .btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #611973;
  text-decoration: none;
} 
.header{
  position: sticky;  /* want to change to fixed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-bottom: 0;
}

.logo{
  cursor: pointer;
  margin-right: auto;
  width: 12%;
  margin: 0;
  padding: 0;
}
.nav-link{
  list-style: none;
}
.nav-link li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-link li a{
  padding: 10px ;
  transition: all 0.3s ease 0s;
  background-color: #FAF7F0;
  border-radius: 50px;
  cursor: pointer;
}
.nav-link li a:hover,
.btn:hover {
  background-color: #ffd445;
}
.btn {
  padding: 9px 25px;
  margin-left: 30px;
  background-color: #FAF7F0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: #ffd445 solid 1.5px;
}
.cont{
  margin-left: 10%;
  margin-top: 20%; 
  font-family: Arial, Helvetica, sans-serif;
  color: #611973;
}
.cont h1{
  font-size: 50px; 
}
.cont p{ 
  font-size: 30px;
}
.main{
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
  /* margin-top: 0; */
}
.mainprog{
  display: flex;
  justify-content: center;
  height: 150vh;
  align-items: center;
}
.container {
  display: flex;
}
.container-prog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card{
  height: 400px;
  margin: 30px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  /* margin-top: 0; */
}
.img{
height: 500px;
width: 300px;
border-radius: 3px;
}
.h1{
  margin-left: 30px;
  font-size: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #611973;
}

.container{
  margin: 0 auto;
  /* display: grid; */
  gap: 2rem;
  /* grid-template-columns: 1fr 1fr   ; */
  gap: 2rem;
  align-items: center;
}
.bootom{
align-items: baseline;


}
/* .card-title{
  height: 50px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 95px;
  background: rgb(27, 27, 27, .5); 
  color: #fff;
}
 .card-title h1{
  margin: 10px;
  font-size: 40px;
  color: #fff;
  background: rgb(27, 27, 27, .5);

} */