/* 

.IMG-1{
height: 40%;
width: 50%;

}
.IMG-2{
  height: 40%;
  width: 30%;
  margin-left: 780px;
  
  
}
.IMG-3{
  height: 40%;
  width: 30%;
padding: 10px;
}
.IMG-4{
  height: 40%;
  width: 30%;
  
margin-left: 800px; 
} */
/* img{
width: 100%;
height: auto;
} */ 

img{
height: 300px;
width: 400px;


}
.container{
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr   ;
  gap: 2rem;
  align-items: center;
}
